.method{
    width: 20rem;
    height: 15rem;
    background: rgba(151, 16, 16, 0.966);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.m_img>img{
    width: 100%;
    height: 13rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.method>p{
    text-align: center;
    font-size: 1rem;
    color: white;
}
@media screen and (max-width: 800px) {
    .method{
        width: 95%;
    }
}
@media screen and (max-width: 600px) {
    .method{
        width: 100%;
    }
}